<h2>ハッシュタグ一覧</h2>
<% @hashtags.each do |hashtag| %>
    <%
        count = @hashtag_count[hashtag.id.to_i]
    %>
    <p>
        <%= link_to "##{hashtag.name}(#{count})", hashtag_path(hashtag.id) %>
    </p>
<% end %>