<h2>csvファイルの連想配列出力練習</h2>

<div id = 'output_for_hash'></div>
<script>

const outputForHash = document.getElementById('output_for_hash');

function csv_data_for_hash(dataPath) {
    const request = new XMLHttpRequest(); // HTTPでファイルを読み込む
    request.addEventListener('load', (event) => { // ロードさせ実行
        const response = event.target.responseText; // 受け取ったテキストを返す
        // output_svg.innerHTML = response; // 表示
        convertCsvToArray(response);
    });
    request.open('GET', dataPath, true); // csvのパスを指定
    request.send();
}

function convertCsvToArray(csv) {
    //header:CSV1行目の項目 :csvRows:項目に対する値
    const [header, ...csvRows] = csv.split('\n').filter(function (row) {
        if (row !== '') {
        return row;
        }
    }).map(function (row) {
        return row.split(',');
    });

    let arrayInKeyAndValue;
    let resultArray;
    let tmpResultArray;

    tmpResultArray = csvRows.map(function (r) {
        arrayInKeyAndValue = header.map(function (_, index) {
        //ヘッダーの空白文字を削除。　keyとvalueに値をセット
        return ({ key: header[index].replace(/\s+/g, ''), value: r[index] });
        });
        arrayInKeyAndValue = arrayInKeyAndValue.reduce(function (previous, current) {
        //{key: "物", value: "MacBook", メーカー: "apple", 値段: "3000"}を作成
        previous[current.key] = current.value;
        return previous;
        }, {});
        return arrayInKeyAndValue;
    });

    console.log(tmpResultArray);
    insertElement = ''
    console.log(tmpResultArray.length);
    for (var i = 0; i < tmpResultArray.length; i++){
        insertElement += '<div><span>'
        insertElement += tmpResultArray[i]['Id']
        insertElement += '</span>'
        insertElement += tmpResultArray[i]['日付']
        insertElement += '</span>'
        insertElement += tmpResultArray[i]['テキスト']
        insertElement += '</span>'
        insertElement += tmpResultArray[i]['作成者']
        insertElement += '</span>'
        insertElement += '</div>'
    }
    outputForHash.innerHTML = insertElement;

    // resultArray = tmpResultArray.reduce(function (previous, current, index) {
    //     previous[index] = current;
    //     return previous;
    // }, {});
    // console.log(resultArray);
    // return resultArray;
}

csv_data_for_hash('test_1.csv');//取得したCSVデータ
// const resultArray = 

</script>