<style>
    body{
        font-family: 'sans-serif';
    }
    #map{
        height: 100%;
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
        
        }

    h1{
        text-align: center;
        background-color: #ffe1bc00;
        border: 1px solid black;
        width: 60%;
        margin: 0 auto;
    }

    body{
        width: auto;
        height: 100%;
        background: linear-gradient(151deg, white, #f9efd4b0);
        /* background-color: #e6ffff; */
    }

    #address{
        height: 25px;
        width: 300px;
        border-radius: 14px;
        text-decoration:none;
        outline: none;
    }

    #map_input_container{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    #map_submit{
        background-color: white;
        border: 2px solid black;
        padding: 4px 10px;
        margin: 20px;
        font-weight: bold;
        transition: all 1500ms;
        font-size: 20px;
        font-family: 'sans-serif';
        border: none;

    }

    #map_submit:hover{
        background-color: blue;
        color: white;
    }

    .search_input{
        border: 1px solid gray;
        box-shadow: 1px 1px 7px gray;
    }

    #marriage_target{
        width: 200px;
        background-image: url("/assets/kubota_logo1.png");
        background-repeat: no-repeat;
        background-size: 200px 200px;
        background-position: center;
        height: 150px;
        margin: 0 auto;
    }

    @keyframes fadeIn{
        0%{
            opacity: 0;
            transform: scale(0);
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }
</style>

<p style="cursor: pointer" id="marriage_target"></p>

<%= form_with url: map_request_path, method: :get,remote: true do |m| %>
    <div id = "map_input_container">
        <%= m.text_field :address,placeholder: 'Search',class: 'search_input' %>
        <%#= m.submit 'Learn About RYO',id: 'map_submit' %>
        <input type="submit" name="commit" value="input" id="map_submit" style="display: none;">
    </div>
<% end %>

<div id="map" style="opacity: 0;"></div>

<script>
    let mapInstance = []
    let markerDatas;
    let markers;
    let marker = [];
    console.log(markerDatas);

    function initMap(){
        mapInstance = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 36.6233354, lng: 138.1622222},
            zoom: 7
        });

        mapInstance.addListener('click', function(e) {
            getClickLatLng(e.latLng, mapInstance);
        });
    }

    function getClickLatLng(lat_lng, mapInstance) {
        console.log(lat_lng.lat());
        console.log(lat_lng.lng());
        // document.getElementById('event_latitude').value = lat_lng.lat();
        // document.getElementById('event_longitude').value = lat_lng.lng();

// マーカーを設置
        // if(marker!=null)
        //     marker.setMap(null)
        //     marker = new google.maps.Marker({
        //         position: lat_lng,
        //         map: mapInstance
        // });
// 座標の中心をずらす
        mapInstance.panTo(lat_lng);
    }
    window.addEventListener('load', function() {
        let map = document.getElementById('map');
        map.style.width = `${window.innerWidth * 0.7}` + `px`;
        map.style.height = `${window.innerHeight * 0.7}` + `px`;
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

<script>
// let target = document.getElementById('marriage_target')
// let targetButton = document.getElementById('map_submit')
// target.onclick = function(){
//     if (target.textContent == 'RYO SEARCHER'){
//         target.textContent = "TOMOYO SEARCHER"
//         targetButton.value = "Learn About TOMOYO"
//     }else{
//         target.textContent = 'RYO SEARCHER'
//         targetButton.value = "Learn About RYO"
//     }
// }


// var response_value;

document.getElementById("map_submit").onclick = function(){
    let marker = []
    let pos = []
    let infoWindow = []
    let request = new XMLHttpRequest();
    request.addEventListener('load', function(event){ // ロードさせ実行
        const response = event.target.responseText; // 受け取ったテキストを返す
        let response_value = JSON.parse(response)
        console.log(response_value["data"])
        for( let i = 0; i < response_value["data"].length; i++){
                pos[i] = new google.maps.LatLng(
                response_value["data"][i]["latitude"],
                response_value["data"][i]["longitude"]
            )
                mapInstance.setCenter(pos[i])
                marker[i] = new google.maps.Marker({
                map: mapInstance,
                position: pos[i]
            })
            infoWindow[i] = new google.maps.InfoWindow({
                    content: `<p>${response_value["data"][i]["place"]}</p>`
            });
            marker[i].addListener("click", function(element){
                mapInstance.setCenter(pos[i])
                // mapInstance.zoom = 11
                infoWindow[i].open(mapInstance, marker[i]);
                
            });
        }
        document.getElementById("map").style.animation = "fadeIn 3s forwards";
    });
    request.open('GET', '/kubota/map_request', true); // csvのパスを指定
    request.send();
}


</script>